In [2]:
import pandas as pd

In [3]:
dataset=pd.read_csv("50_Startups.csv")

In [4]:
dataset

    R&D Spend  Administration  Marketing Spend       State     Profit
0   165349.20       136897.80        471784.10    New York  192261.83
1   162597.70       151377.59        443898.53  California  191792.06
2   153441.51       101145.55        407934.54     Florida  191050.39
3   144372.41       118671.85        383199.62    New York  182901.99
4   142107.34        91391.77        366168.42     Florida  166187.94
5   131876.90        99814.71        362861.36    New York  156991.12
6   134615.46       147198.87        127716.82  California  156122.51
7   130298.13       145530.06        323876.68     Florida  155752.60
8   120542.52       148718.95        311613.29    New York  152211.77
9   123334.88       108679.17        304981.62  California  149759.96
10  101913.08       110594.11        229160.95     Florida  146121.95
11  100671.96        91790.61        249744.55  California  144259.40
12   93863.75       127320.38        249839.44     Florida  141585.52
13   91992.39       135495.07        252664.93  California  134307.35
14  119943.24       156547.42        256512.92     Florida  132602.65
15  114523.61       122616.84        261776.23    New York  129917.04
16   78013.11       121597.55        264346.06  California  126992.93
17   94657.16       145077.58        282574.31    New York  125370.37
18   91749.16       114175.79        294919.57     Florida  124266.90
19   86419.70       153514.11             0.00    New York  122776.86
20   76253.86       113867.30        298664.47  California  118474.03
21   78389.47       153773.43        299737.29    New York  111313.02
22   73994.56       122782.75        303319.26     Florida  110352.25
23   67532.53       105751.03        304768.73     Florida  108733.99
24   77044.01        99281.34        140574.81    New York  108552.04
25   64664.71       139553.16        137962.62  California  107404.34
26   75328.87       144135.98        134050.07     Florida  105733.54
27   72107.60       127864.55        353183.81    New York  105008.31
28   66051.52       182645.56        118148.20     Florida  103282.38
29   65605.48       153032.06        107138.38    New York  101004.64
30   61994.48       115641.28         91131.24     Florida   99937.59
31   61136.38       152701.92         88218.23    New York   97483.56
32   63408.86       129219.61         46085.25  California   97427.84
33   55493.95       103057.49        214634.81     Florida   96778.92
34   46426.07       157693.92        210797.67  California   96712.80
35   46014.02        85047.44        205517.64    New York   96479.51
36   28663.76       127056.21        201126.82     Florida   90708.19
37   44069.95        51283.14        197029.42  California   89949.14
38   20229.59        65947.93        185265.10    New York   81229.06
39   38558.51        82982.09        174999.30  California   81005.76
40   28754.33       118546.05        172795.67  California   78239.91
41   27892.92        84710.77        164470.71     Florida   77798.83
42   23640.93        96189.63        148001.11  California   71498.49
43   15505.73       127382.30         35534.17    New York   69758.98
44   22177.74       154806.14         28334.72  California   65200.33
45    1000.23       124153.04          1903.93    New York   64926.08
46    1315.46       115816.21        297114.46     Florida   49490.75
47       0.00       135426.92             0.00  California   42559.73
48     542.05        51743.15             0.00    New York   35673.41
49       0.00       116983.80         45173.06  California   14681.40

In [5]:
dataset=pd.get_dummies(dataset)

In [6]:
dataset

,R&D Spend,Administration,Marketing Spend,Profit,State_California,State_Florida,State_New York
0,165349.20,136897.80,471784.10,192261.83,False,False,True
1,162597.70,151377.59,443898.53,191792.06,True,False,False
2,153441.51,101145.55,407934.54,191050.39,False,True,False
3,144372.41,118671.85,383199.62,182901.99,False,False,True
4,142107.34,91391.77,366168.42,166187.94,False,True,False
5,131876.90,99814.71,362861.36,156991.12,False,False,True
6,134615.46,147198.87,127716.82,156122.51,True,False,False
7,130298.13,145530.06,323876.68,155752.60,False,True,False
8,120542.52,148718.95,311613.29,152211.77,False,False,True
9,123334.88,108679.17,304981.62,149759.96,True,False,False
10,101913.08,110594.11,229160.95,146121.95,False,True,False
11,100671.96,91790.61,249744.55,144259.40,True,False,False
12,93863.75,127320.38,249839.44,141585.52,False,True,False
13,91992.39,135495.07,252664.93,134307.35,True,False,False
14,119943.24,156547.42,256512.92,132602.65,False,True,False
15,114523.61,122616.84,261776.23,129917.04,False,False,True
16,78013.11,121597.55,264346.06,126992.93,True,False,False
17,94657.16,145077.58,282574.31,125370.37,False,False,True
18,91749.16,114175.79,294919.57,124266.90,False,True,False
19,86419.70,153514.11,0.00,122776.86,False,False,True
20,76253.86,113867.30,298664.47,118474.03,True,False,False
21,78389.47,153773.43,299737.29,111313.02,False,False,True
22,73994.56,122782.75,303319.26,110352.25,False,True,False
23,67532.53,105751.03,304768.73,108733.99,False,True,False
24,77044.01,99281.34,140574.81,108552.04,False,False,True
25,64664.71,139553.16,137962.62,107404.34,True,False,False
26,75328.87,144135.98,134050.07,105733.54,False,True,False
27,72107.60,127864.55,353183.81,105008.31,False,False,True
28,66051.52,182645.56,118148.20,103282.38,False,True,False
29,65605.48,153032.06,107138.38,101004.64,False,False,True
30,61994.48,115641.28,91131.24,99937.59,False,True,False
31,61136.38,152701.92,88218.23,97483.56,False,False,True
32,63408.86,129219.61,46085.25,97427.84,True,False,False
33,55493.95,103057.49,214634.81,96778.92,False,True,False
34,46426.07,157693.92,210797.67,96712.80,True,False,False
35,46014.02,85047.44,205517.64,96479.51,False,False,True
36,28663.76,127056.21,201126.82,90708.19,False,True,False
37,44069.95,51283.14,197029.42,89949.14,True,False,False
38,20229.59,65947.93,185265.10,81229.06,False,False,True
39,38558.51,82982.09,174999.30,81005.76,True,False,False
40,28754.33,118546.05,172795.67,78239.91,True,False,False
41,27892.92,84710.77,164470.71,77798.83,False,True,False
42,23640.93,96189.63,148001.11,71498.49,True,False,False
43,15505.73,127382.30,35534.17,69758.98,False,False,True
44,22177.74,154806.14,28334.72,65200.33,True,False,False
45,1000.23,124153.04,1903.93,64926.08,False,False,True
46,1315.46,115816.21,297114.46,49490.75,False,True,False
47,0.00,135426.92,0.00,42559.73,True,False,False
48,542.05,51743.15,0.00,35673.41,False,False,True
49,0.00,116983.80,45173.06,14681.40,True,False,False

In [7]:
dataset=dataset.astype(int)

In [8]:
dataset

,R&D Spend,Administration,Marketing Spend,Profit,State_California,State_Florida,State_New York
0,165349,136897,471784,192261,0,0,1
1,162597,151377,443898,191792,1,0,0
2,153441,101145,407934,191050,0,1,0
3,144372,118671,383199,182901,0,0,1
4,142107,91391,366168,166187,0,1,0
5,131876,99814,362861,156991,0,0,1
6,134615,147198,127716,156122,1,0,0
7,130298,145530,323876,155752,0,1,0
8,120542,148718,311613,152211,0,0,1
9,123334,108679,304981,149759,1,0,0
10,101913,110594,229160,146121,0,1,0
11,100671,91790,249744,144259,1,0,0
12,93863,127320,249839,141585,0,1,0
13,91992,135495,252664,134307,1,0,0
14,119943,156547,256512,132602,0,1,0
15,114523,122616,261776,129917,0,0,1
16,78013,121597,264346,126992,1,0,0
17,94657,145077,282574,125370,0,0,1
18,91749,114175,294919,124266,0,1,0
19,86419,153514,0,122776,0,0,1
20,76253,113867,298664,118474,1,0,0
21,78389,153773,299737,111313,0,0,1
22,73994,122782,303319,110352,0,1,0
23,67532,105751,304768,108733,0,1,0
24,77044,99281,140574,108552,0,0,1
25,64664,139553,137962,107404,1,0,0
26,75328,144135,134050,105733,0,1,0
27,72107,127864,353183,105008,0,0,1
28,66051,182645,118148,103282,0,1,0
29,65605,153032,107138,101004,0,0,1
30,61994,115641,91131,99937,0,1,0
31,61136,152701,88218,97483,0,0,1
32,63408,129219,46085,97427,1,0,0
33,55493,103057,214634,96778,0,1,0
34,46426,157693,210797,96712,1,0,0
35,46014,85047,205517,96479,0,0,1
36,28663,127056,201126,90708,0,1,0
37,44069,51283,197029,89949,1,0,0
38,20229,65947,185265,81229,0,0,1
39,38558,82982,174999,81005,1,0,0
40,28754,118546,172795,78239,1,0,0
41,27892,84710,164470,77798,0,1,0
42,23640,96189,148001,71498,1,0,0
43,15505,127382,35534,69758,0,0,1
44,22177,154806,28334,65200,1,0,0
45,1000,124153,1903,64926,0,0,1
46,1315,115816,297114,49490,0,1,0
47,0,135426,0,42559,1,0,0
48,542,51743,0,35673,0,0,1
49,0,116983,45173,14681,1,0,0

In [11]:
dataset=pd.get_dummies(dataset,drop_first=True)

In [12]:
dataset

,R&D Spend,Administration,Marketing Spend,Profit,State_California,State_Florida,State_New York
0,165349,136897,471784,192261,0,0,1
1,162597,151377,443898,191792,1,0,0
2,153441,101145,407934,191050,0,1,0
3,144372,118671,383199,182901,0,0,1
4,142107,91391,366168,166187,0,1,0
5,131876,99814,362861,156991,0,0,1
6,134615,147198,127716,156122,1,0,0
7,130298,145530,323876,155752,0,1,0
8,120542,148718,311613,152211,0,0,1
9,123334,108679,304981,149759,1,0,0
10,101913,110594,229160,146121,0,1,0
11,100671,91790,249744,144259,1,0,0
12,93863,127320,249839,141585,0,1,0
13,91992,135495,252664,134307,1,0,0
14,119943,156547,256512,132602,0,1,0
15,114523,122616,261776,129917,0,0,1
16,78013,121597,264346,126992,1,0,0
17,94657,145077,282574,125370,0,0,1
18,91749,114175,294919,124266,0,1,0
19,86419,153514,0,122776,0,0,1
20,76253,113867,298664,118474,1,0,0
21,78389,153773,299737,111313,0,0,1
22,73994,122782,303319,110352,0,1,0
23,67532,105751,304768,108733,0,1,0
24,77044,99281,140574,108552,0,0,1
25,64664,139553,137962,107404,1,0,0
26,75328,144135,134050,105733,0,1,0
27,72107,127864,353183,105008,0,0,1
28,66051,182645,118148,103282,0,1,0
29,65605,153032,107138,101004,0,0,1
30,61994,115641,91131,99937,0,1,0
31,61136,152701,88218,97483,0,0,1
32,63408,129219,46085,97427,1,0,0
33,55493,103057,214634,96778,0,1,0
34,46426,157693,210797,96712,1,0,0
35,46014,85047,205517,96479,0,0,1
36,28663,127056,201126,90708,0,1,0
37,44069,51283,197029,89949,1,0,0
38,20229,65947,185265,81229,0,0,1
39,38558,82982,174999,81005,1,0,0
40,28754,118546,172795,78239,1,0,0
41,27892,84710,164470,77798,0,1,0
42,23640,96189,148001,71498,1,0,0
43,15505,127382,35534,69758,0,0,1
44,22177,154806,28334,65200,1,0,0
45,1000,124153,1903,64926,0,0,1
46,1315,115816,297114,49490,0,1,0
47,0,135426,0,42559,1,0,0
48,542,51743,0,35673,0,0,1
49,0,116983,45173,14681,1,0,0

In [13]:
dataset.columns

Index(['R&D Spend', 'Administration', 'Marketing Spend', 'Profit',
       'State_California', 'State_Florida', 'State_New York'],
      dtype='object')

In [14]:
independent=dataset[['R&D Spend', 'Administration', 'Marketing Spend','State_California', 'State_Florida', 'State_New York']]

In [15]:
dependent=dataset[['Profit']]

In [17]:
from sklearn.model_selection import train_test_split
train_test_split(independent, dependent, test_size=0.30, random_state=0)

[    R&D Spend  Administration  Marketing Spend  State_California  \
 7      130298          145530           323876                 0
 14     119943          156547           256512                 0
 45       1000          124153             1903                 0
 48        542           51743                0                 0
 29      65605          153032           107138                 0
 15     114523          122616           261776                 0
 30      61994          115641            91131                 0
 32      63408          129219            46085                 1
 16      78013          121597           264346                 1
 42      23640           96189           148001                 1
 20      76253          113867           298664                 1
 43      15505          127382            35534                 0
 8      120542          148718           311613                 0
 13      91992          135495           252664                 1
 25      64664          139553           137962                 1
 5      131876           99814           362861                 0
 17      94657          145077           282574                 0
 40      28754          118546           172795                 1
 49          0          116983            45173                 1
 1      162597          151377           443898                 1
 12      93863          127320           249839                 0
 37      44069           51283           197029                 1
 24      77044           99281           140574                 0
 6      134615          147198           127716                 1
 23      67532          105751           304768                 0
 36      28663          127056           201126                 0
 21      78389          153773           299737                 0
 19      86419          153514                0                 0
 9      123334          108679           304981                 1
 39      38558           82982           174999                 1
 46       1315          115816           297114                 0
 3      144372          118671           383199                 0
 0      165349          136897           471784                 0
 47          0          135426                0                 1
 44      22177          154806            28334                 1

     State_Florida  State_New York
 7               1               0
 14              1               0
 45              0               1
 48              0               1
 29              0               1
 15              0               1
 30              1               0
 32              0               0
 16              0               0
 42              0               0
 20              0               0
 43              0               1
 8               0               1
 13              0               0
 25              0               0
 5               0               1
 17              0               1
 40              0               0
 49              0               0
 1               0               0
 12              1               0
 37              0               0
 24              0               1
 6               0               0
 23              1               0
 36              1               0
 21              0               1
 19              0               1
 9               0               0
 39              0               0
 46              1               0
 3               0               1
 0               0               1
 47              0               0
 44              0               0  ,
     R&D Spend  Administration  Marketing Spend  State_California  \
 28      66051          182645           118148                 0
 11     100671           91790           249744                 1
 10     101913          110594           229160                 0
 41      27892           84710           164470                 0
 2      153441          101145           407934                 0
 27      72107          127864           353183                 0
 38      20229           65947           185265                 0
 31      61136          152701            88218                 0
 22      73994          122782           303319                 0
 4      142107           91391           366168                 0
 33      55493          103057           214634                 0
 35      46014           85047           205517                 0
 26      75328          144135           134050                 0
 34      46426          157693           210797                 1
 18      91749          114175           294919                 0

     State_Florida  State_New York
 28              1               0
 11              0               0
 10              1               0
 41              1               0
 2               1               0
 27              0               1
 38              0               1
 31              0               1
 22              1               0
 4               1               0
 33              1               0
 35              0               1
 26              1               0
 34              0               0
 18              1               0  ,
     Profit
 7   155752
 14  132602
 45   64926
 48   35673
 29  101004
 15  129917
 30   99937
 32   97427
 16  126992
 42   71498
 20  118474
 43   69758
 8   152211
 13  134307
 25  107404
 5   156991
 17  125370
 40   78239
 49   14681
 1   191792
 12  141585
 37   89949
 24  108552
 6   156122
 23  108733
 36   90708
 21  111313
 19  122776
 9   149759
 39   81005
 46   49490
 3   182901
 0   192261
 47   42559
 44   65200,
     Profit
 28  103282
 11  144259
 10  146121
 41   77798
 2   191050
 27  105008
 38   81229
 31   97483
 22  110352
 4   166187
 33   96778
 35   96479
 26  105733
 34   96712
 18  124266]

In [19]:
#Assign input train, input test, output train and output test variables.
x_train,x_test,y_train,y_test=train_test_split(independent, dependent, test_size=0.3, random_state=0)

In [20]:
#Creating Model
#Importing LinearRegression Model from sklearn Library
from sklearn.linear_model import LinearRegression
regressor=LinearRegression()

#Model creation
regressor.fit(x_train,y_train)

LinearRegression()

In [22]:
#Creating Slope
weight=regressor.coef_
weight

array([[ 7.90838939e-01,  3.01972395e-02,  3.10155570e-02,
        -2.55855174e+02,  2.06972507e+02,  4.88826671e+01]])

In [24]:
#Creating Origin
bais=regressor.intercept_
bais

array([42659.58698137])

In [25]:
#Creating predicted output
y_pred=regressor.predict(x_test)

In [27]:
#Creating Evalution Metrics
#importing r2_score from sklearn
from sklearn.metrics import r2_score
#Creating r_score value using given out and predicted output
r_score=r2_score(y_test,y_pred)

In [28]:
r_score

0.9358680892466558

In [29]:
#Save Model using Pickle function
#Importing pickle will save all functions in pickle into memory
import pickle

In [30]:
filename="Finalized_Model_Mul_Linear.sav"

In [31]:
#Writing binary file into Python
pickle.dump(regressor,open(filename,'wb'))

In [32]:
#loading model into binary file
loaded_model=pickle.load(open("Finalized_Model_Mul_Linear.sav",'rb'))

In [36]:
result=loaded_model.predict([[165349,136897,471784,0,0,1]])

C:\Anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [37]:
result

array([[192239.45240252]])