In [ ]:
for NUM in range(0,20):
    print(NUM)

In [ ]:
age=int(input("Enter your age: "))
print(age)

In [ ]:
if(age==18):
    print("Adult")

In [ ]:
for NUM in range(10,20):
    print(NUM)

In [42]:
lists=['A','r','t','i','f','i','c','i','a','l','I','n','t','e','l','l','i','g','e','n','c','e']

In [43]:
for AI in lists:
    print(AI)

A
r
t
i
f
i
c
i
a
l
I
n
t
e
l
l
i
g
e
n
c
e

In [ ]:
Name=input('Your Name - ')
print(Name)
Age=input('Your Age - ')
print(Age)
Profession=input('Your Profession -')
print(Profession)

In [ ]:
Name=input("- Your Name")
Age=input("- Your Age")
Profession=input("- Your Profession")

In [ ]:
print(Name)
print(Age)

In [ ]:
Tuple1=()
print("Initial Empty Tuple: ")
print(Tuple1)

In [ ]:
#Creating a Tuple with the use of strings
Tuple1=('Geeks' , 'for')
print('\nTuple with the use of string: ')
print(Tuple1)

In [ ]:
lists=[1,2,3,4,5]
print(lists)

In [ ]:
Tuple1=tuple('Geeks')
print("\nTuple with the use of function: ")
print(Tuple1)

In [ ]:
LISTS=(1,'Welcome',2,'Hope')
print(LISTS)

In [ ]:
tuple1=()
print("Initial Empty Tupe")
print(tuple1)

In [ ]:
#Create tuple with
#The use of String
tuple1=('Geeks','For')
print("\Tuple with the use of string")
print(tuple1)

In [ ]:
#Creating Tuple
#with the use of function
tuple1=tuple('Geeks')
print("\Tuple with the use of function")
print(tuple1)

In [ ]:
age=int(input("Enter the Age: "))
print(age)

In [ ]:
if(age<18):
    print("Children")
else:
    print("Adult")

In [ ]:
#if-elif
if (age<18):
    print("Children")
elif (age<35):
    print("Adult")
elif (age<59):
    print("Citizen")
else:
    print("Senior Citizen")

In [ ]:
#Odd or Even Number
num=int(input("Enter the Number"))
if ((num%2)==1):
    print("The Number is Odd Number")
else:
    print("The Number is Even Number")

In [ ]:
#List number from 1 to 10 Vertically
for num in range(0,11):
    print(num)

In [ ]:
#List Numbers from 100 TO 110 vertically
for num in range(100,111):
    print(num)

In [ ]:
#List Even Numbers
for num in range(0,11,2):
    print(num)

In [ ]:
print("Welcome to Assigment-1")

In [ ]:
#Addition
Num1=10
Num2=40
add=Num1+Num2
print(add)

In [35]:
#Calculate Body Mass Index
Weight=int(input("Enter Weight in Kg:"))
print(Weight)
Height=float(input("Enter Height in Meters:"))
print(Height)
BMI=float(Weight/(Height)**2)
print(BMI)
if (BMI>34):
    print("Very Overweight")
else:
    print("Not Very overweight")

Enter Weight in Kg:75
75
Enter Height in Meters:1.8
1.8
23.148148148148145
Not Very overweight

In [24]:
BMI=int(input("Enter BMI value: "))
if BMI<18:
    print("Light Weight")
elif BMI<34:
    print("Correct Weight")
else:
    print("Very Overweight")

Enter BMI value: 78
Very Overweight

In [25]:
print("Hope AI")

Hope AI

In [26]:
#Buying Input
name=input("Enter your Institute Name: ")
print(name)

Enter your Institute Name: Hope AI
Hope AI

In [27]:
#Buy Inputs
name=input("Enter name: ")
age=input("Enter Age: ")
School_name=input("Enter Your Schoole Name: ")
Degree=input("Enter your Degree :")

Enter name: Gandhi
Enter Age: 51
Enter Your Schoole Name: PHSS
Enter your Degree :BE,MBA

In [28]:
#Addition
a=43
b=34
add=int(a+b)
print(add)

77

In [29]:
#Subtraction
a=43
b=34
sub=int(a-b)
print(sub)

9

In [30]:
#Multiplication
a=63
b=97
mul=int(a*b)
print(mul)

6111

In [32]:
#Division
a=76
b=31
div=float(76/31)
print(div)

2.4516129032258065

In [33]:
#Modulo
a=76
b=31
mod=int(a%b)
print(mod)

14

In [34]:
#Power
a=4
b=4
power=int(4**4)
print(power)

256

In [36]:
#Print 0 to 20 using range
for num in range(0,20):
    print(num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [39]:
#Print 10 to 20 
LIST=(10,11,12,13,14,15,16,17,18,19,20)
print(LIST)

(10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)

In [40]:
#Print number of items in the list by using len
LIST2=[10,20,14,55,43,87,76]
print(len(LIST2))

7

In [47]:
#Printing Artificial Intelligent vertically
LIST3=('A','r','t','i','f','i','c','i','a','l','','I','n','t','e','l','l','i','g','e','n','c','e')
for AI in LIST3:
    print(AI)

A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [50]:
List1=("-Your Name-")
List2=("-Your Age-")
List3=("-Your Profession")
print(List1)
print(List2)
print(List3)

-Your Name-
-Your Age-
-Your Profession

In [51]:
#Print Mixed Datatype
List4=[1,'Welcome',2,'Hope']
print(List4)

[1, 'Welcome', 2, 'Hope']

In [5]:
#List Name, age and Profession
lists= ['-Your Name-','-Your Age-','-Your Profession']
for details in lists:
    print(details)

-Your Name-
-Your Age-
-Your Profession

In [6]:
#Use GeeksforGeeks
Tuple1=(0,1,2,3)
Tuple2=('Python','Hope')
Tuple3=(Tuple1,Tuple2)
print(Tuple3)

((0, 1, 2, 3), ('Python', 'Hope'))

In [14]:
#Print Odd number in the lists
list1=[20,10,16,19,25,1,276,188]
for num in list1:
    if (num%2==1):
        print(num, " is Odd")

19  is Odd
25  is Odd
1  is Odd

In [15]:
#Print Even Number in the list
for num in list1:
    if (num%2==0):
        print(num, ' is Even')

20  is Even
10  is Even
16  is Even
276  is Even
188  is Even